@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  color-scheme: dark;
}

body {
  background-color: #0d1117;
  color: #e6edf3;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  /* For dashboard feel */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0d1117;
}

::-webkit-scrollbar-thumb {
  background: #30363d;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f3ff;
}